@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model UrunAddViewModel

<!-- Main content -->

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Quick Example</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-antiforgery="true">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Ürün Adı</label>
                            <input asp-for="UrunAdi" type="text" class="form-control" placeholder="Ürün Adi">
                        </div>
                        <div class="form-group">
                            <label for="kategori">Kategori</label>
                            <select asp-for="KategoriId" type="text" class="form-control" asp-items="Model.KategoriListesi"></select>
                        </div>

                        <div class="form-group">
                            <label for="aciklama">Açıklama</label>
                            <br />
                            <textarea asp-for="Aciklama"></textarea>
                        </div>

                        <div class="form-group">
                            <label>ÜRÜN FİYATLARI</label>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Başlık</td>
                                        <td>Açıklama</td>
                                        <td>Fiyat</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td id="tdid">1</td>
                                        <td>
                                            <input type="text" id="txtBaslik" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" id="txtAciklama" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" id="txtFiyat" class="form-control">
                                        </td>
                                        <td>
                                            <input type="button" id="btnFiyatEkle" value="FİYAT EKLE">
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="UrunFiyatListesi">
                                </tbody>
                            </table>
                        </div>




                        <div class="form-group">
                            <label for="exampleInputFile">Ürün Resimleri</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fuUrunResimleri">
                                    <label class="custom-file-label" for="exampleInputFile">RESİM SEÇ</label>
                                </div>
                            </div>
                        </div>
                        <div class="gallery"></div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button id="btnUrunEkle" type="button" class="btn btn-primary">KAYDET</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
<!-- /.content -->
@section style{
    <link rel="stylesheet" src="/adminassets/plugins/summernote/summernote-bs4.css" />

}

@section Script{
    <script src="/adminassets/plugins/summernote/summernote-bs4.js"></script>
    <script>

        $("#Aciklama").summernote({
            "height": 200
        });

        $(document).ready(

            function () {

                $("#fuUrunResimleri").change(
                    function () {
                        var files = $(this)[0].files;
                        for (var i = 0; i < files.length; i++) {
                            var reader = new FileReader();
                            reader.onload = function (event) {
                                table = "<img width='150' src='" + event.target.result + "'>";

                                $("div.gallery").append(table);
                            }
                            reader.readAsDataURL(files[i]);
                        }
                    }
                );


                $("#btnUrunEkle").click(
                    function () {
                        var token = $("input[name=__RequestVerificationToken]").val();
                        var urunFiyat = [];

                        $("#UrunFiyatListesi tr").each(function () {

                            urunFiyat.push({ Baslik: $(this).find('td')[1].innerHTML, Aciklama: $(this).find('td')[2].innerHTML, Fiyat: $(this).find('td')[3].innerHTML });

                        });

                        var model = {
                            UrunAdi: $("#UrunAdi").val(),
                            Aciklama: $("#Aciklama").val(),
                            KategoriId: $("#KategoriId").val(),
                            UrunFiyatlari: urunFiyat
                        };

                        $.ajax({
                            url: "/Admin/Urun/Add",
                            method: "post",
                            data: { model: model, __RequestVerificationToken: token },
                            success: function (rst) {
                                if (rst) {
                                    var UrunId = rst.id;

                                    var files = $("#fuUrunResimleri")[0].files;   //type = file olan kontrolün seçtiği resimler

                                    var frm = new FormData();

                                    for (var i = 0; i < files.length; i++) {
                                        frm.append(files[i].name, files[i]);
                                    }

                                    frm.append("UrunId", UrunId);

                                    frm.append("__RequestVerificationToken", token);

                                    $.ajax({
                                        url: "/Admin/Urun/AddProductPhoto",
                                        data: frm,
                                        type: "POST",
                                        contentType: false,
                                        processData: false,
                                        success: function (r) {
                                            if (r.result) {
                                                Swal.fire(
                                                    'İşlem Başarılı',
                                                    r.mesaj,
                                                    'success'
                                                )
                                            } else {
                                                Swal.fire({
                                                    icon: 'error',
                                                    title: 'Hata',
                                                    text: r.mesaj
                                                })
                                            }
                                        },
                                        error: function () {

                                        }

                                    });
                                }
                            },
                            error: function () {

                            }
                        });
                    }
                );
                var id = 0;
                $("#btnFiyatEkle").click(
                    function () {
                        var html = $("#UrunFiyatListesi").html();
                        id = id + 1;

                        $("#tdid").html(id + 1);

                        var fiyat = $("#txtFiyat").val();
                        var baslik = $("#txtBaslik").val();
                        var aciklama = $("#txtAciklama").val();

                        html += "<tr><td>" + id + "</td><td>" + baslik + "</td><td>" + aciklama + "</td><td>" + fiyat + "</td><td><a onclick='FiyatSil(this)' class='btn btn-danger'>Sil</a></td></tr>";

                        $("#UrunFiyatListesi").html(html);
                    }
                );
            });

        function FiyatSil(item) {
            item.closest("tr").remove();

            var yid = 0;

            $("#UrunFiyatListesi tr").each(function () { //Bu fontosiyon ID si UrunFiyatListesi olan tbody nin içindeki trleri sırayla döner. Her dönüşte $(this) e döndüğü satırın değerleri gelir.

                yid = yid + 1;
                var label = $(this).find('td').first().html(yid);

            });

            $("#tdid").html(yid + 1);
            id = yid;
        }


    </script>


}